@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in-middle {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-out-middle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

.slide-container {
  display: flex;
  position: relative;
  overflow: hidden; 
}

.slide {
  min-width: 100%; 
  transition: opacity 1s ease-in-out;
}

.slide-enter-left {
  animation: slide-in-left 1s forwards;
}

.slide-exit-left {
  animation: slide-out-left 1s forwards;
}

.slide-enter-right {
  animation: slide-in-right 1s forwards;
}

.slide-exit-right {
  animation: slide-out-right 1s forwards;
}

.slide-enter-middle {
  animation: slide-in-middle 1s forwards;
}

.slide-exit-middle {
  animation: slide-out-middle 1s backwards;
}

.slide-left-left{
  animation: slide-out-left 1s backwards;
}